{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ],
    ["styled-components", {
      "ssr": true
    }],
    [
      "babel-plugin-root-import"
    ]
  ]
}