{
    "presets": ["next/babel"],
    "plugins": [
        "inline-react-svg",
        ["babel-plugin-styled-components", { "ssr": true }],
        ["babel-plugin-root-import"],
        [
            "import",
            {
                "libraryName": "antd",
                "style": true,
                "preprocess": false
            }
        ],
        "lodash"
    ]
}
